<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head}">
</head>
<body class="bodyGameOver">
	<div class="container vh-100 d-flex justify-content-center align-items-center">
		<div class="card text-center">
			<h5 class="card-header">¡Has perdido!</h5>
			<div class="card-body">
				<h5 class="card-title">Puntuación realizada</h5>
				<p class="card-text" th:text="${puntos}"></p>
				<a th:href="@{/}" class="btn btn-primary w-100">Reiniciar</a>
			</div>
		</div>
	</div>
</body>
</html>