<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head}">
</head>
<body class="page01">
	<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
		<div class="row">
			<div class="col-4">
				<div class="card text-center py-3 wh-100">
				  <img src="/imgs/juego01.webp" class="w-50 py-2 m-auto" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Guess Who?</h5>
				    <a href="#" class="btn btn-primary w-100">Jugar</a>
				  </div>
				</div>
			</div>
			<div class="col-4">
				<div class="card text-center py-3 wh-100">
				  <img src="/imgs/juego03.webp" class="w-50 py-2 m-auto" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Flip & Match</h5>
				    <a href="#" class="btn btn-primary w-100">Jugar</a>
				  </div>
				</div>
			</div>
			<div class="col-4">
				<div class="card text-center py-3 wh-100">
				  <img src="/imgs/juego02.webp" class="w-50 py-2 m-auto" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Juego 03</h5>
				    <a href="#" class="btn btn-primary w-100">Jugar</a>
				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>